<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@1&display=swap"
      rel="stylesheet"
    />
    <title>JobsSearch Dashboard</title>
  </head>
<body class="boardMain">
    <section class="notice">
      <p class="notice1">
        Actual Developer
        <a href="https://wa.link/ljjqgo"> WhatsApp Link </a> and
        <a href="https://bit.ly/3cFsQFo"> Fiverr's Link. </a> Click any for
        projects.
      </p>
      <p class="noticeClose">❌</p>
    </section>
     <nav class="dashNav">
      <h1 class="indexH1">Jobs<span class="indexSpan1">Search</span></h1>
      <div class="boardInfo">
        <p class="boardName"> <%= name %></p>
        <button class="boardExit">LOGOUT</button>
      </div>
    </nav>
    
      
    <div class="loginBody">
        <p class="mobileName"><%= name %></p>
      <div class="dashboardDiv">
        <h1 class="loginH1">New Job</h1><br.<br>
        <label for="text" class="loginLabel" >Company:</label>
        <input type="text" class="companyInput" /><br><br>
        <label for="text" class="loginLabel" >Position:</label>
        <input type="text" class="positionInput" /><br><br>
        <p class="jobError"></p>
        <button class="jobBtn">Submit</button>
      </div>
    </div>

      <p class="dashboardP1">   You have no jobs to display </p>

<div class="jobsContainer">

  <!-- <div class="jobsMain">
    <h5 class="jobsDate"> December 21st 2021 </h5>
    <p class="position">Front-End Developer</p>
    <p class="company">Google LLC</p>
    <div class="jobsCtas">
      <div>
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
      </div>
      <p class="status">PENDING</p>
    </div>
  </div>  
  

</div>


 <div>
  <p class="title">Dashboard</p>
   <div class="dashboardBody1">
      <div class="dashboardDiv">
        <h1 class="loginH1">Update Job</h1><br.<br>
        <label for="text" class="loginLabel" >Company:</label>
        <input type="text" class="companyChanged" /><br><br>
        <label for="text" class="loginLabel" >Position:</label>
        <input type="text" class="positionChanged" /><br><br>
        <select name="status" id="status">
          <option value="pend">PENDING</option>
          <option value="interview">INTERVIEWED</option>
          <option value="fail">DECLINED</option>
        </select><br><br>
        <button class="updateBtn">Edit</button>
      </div>
    </div>   
</div>-->

 <script src="dashboard.js"></script>
</body>
</html>


