<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="error.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@1&display=swap"
      rel="stylesheet"
    />

    <title>JobsSearch</title>
  </head>
  <body>
    <div class="errorBody">
      <img src="./images/404.png" alt="404 image" class="errorImg" />
      <h1 class="errorH1">Ohh! Page not found</h1>
      <p class="errorP">We cannot find the page you looking for</p>
      <a href="/" class="errorA">Back to home</a>
    </div>
  </body>
</html>

<style>
  .errorBody {
    display: grid;
    justify-self: center;
    justify-items: center;
    width: 60%;
    margin: 0 20vw 0 20vw;
  }
  .errorImg {
    width: 80%;
  }
  .errorH1,
  .errorP,
  .errorA {
    text-align: center;
  }
</style>
